/*Google Meet Dark Mode By Dawn Saju*/
.BC4V9b,
.Bx7THd,
.CYZUZd,
.EC0pCb,
.GN4RFc,
.HALYaf,
.HhsXW,
.HxAmUd,
.JAPqpe,
.LsDE5,
.MaqJqd,
.NzPR9b,
.OvyUe,
.PbnGhe,
.QkY02,
.Qmt7oc,
.R6Lfte,
.ThdJC,
.V8Q1le,
.VdLOD,
.a6HQpb,
.cSO8I,
.e19J0b,
.fe4pJf,
.g3VIld,
.jgvuAb,
.ox9SMb,
.p5X8Ye,
.r5iSrd,
.rG0ybd,
.to0C6d,
.uArJ5e,
.uFGEzd,
.uFGEzd .uArJ5e,
.uHMk6b,
.yTfxtb,
.yWbJE,
.z38b6 {
    background-color: #1a1a1a!important;
}
.MocG8c,
.NVUqMb,
.OA0qNb,
.OxCgzb .kCyAyd .l4V7wb,
.aCsJod,
.koV58,
.oZ3U3b {
    background-color: #202124!important
}

.CRFCdf {
    color: white;
}
.vWXIE {
    background-color: #0d0d0d;
    border-color: #000;
}
.Ikd8W .KKjvXb,
.is878e {
    background-color: #333!important
}
.CpPRrf,
.mWzGw {
    display: none
}

.ASy21,
.BQ4HDe,
.CO1lLb,
.CTmqKd,
.CYZUZd,
.DX090c,
.EC0pCb,
.Fvio9d,
.GN4RFc,
.GdrRqd,
.I98jWb,
.J8vCN,
.Jyj1Td,
.KD4eUb,
.KHxj8b,
.KKjvXb .VfPpkd-vQzf8d,
.KvRaG p,
.MQKmmc,
.MaqJqd,
.MocG8c,
.NPEfkd,
.NVUqMb,
.NkoVdd,
.OP3eje,
.OtUpjf,
.PNenzf,
.QkKrhf,
.RKkqi,
.V8Q1le,
.VfPpkd-Bz112c-LgbsSe,
.VfPpkd-rymPhb-L8ivfd-fmcmS,
.VfPpkd-rymPhb-fpDzbe-fmcmS,
.W59Cyb,
.Wrzqsf,
.XFtqNb .google-material-icons,
.YTbUzc,
.YhIwSc,
.ZiTobc,
.c83xBb,
.cSO8I,
.e19J0b,
.fJw8Tc,
.hElvrb,
.hHhDYc,
.hOu4d,
.hm73Id,
.l4V7wb,
.nBky5e,
.oYGn2e,
.ox9SMb,
.poFWNe,
.qNakOe,
.rua5Nb,
.to0C6d,
.uArJ5e,
.whsOnd,
.wnPUne,
.xjKiLb,
.yTfxtb,
.yWbJE,
.yX8vie {
    color: #fff!important
}
.DPvwYc,
.Hdh4hc,
.JiQUic,
.Kx3qp,
.VOUU9e,
.VfPpkd-LgbsSe .VfPpkd-vQzf8d,
.VfPpkd-fmcmS-yrriRe-JZnCve-gmhCAd,
.Yi3Cfd,
.esA2k,
.jO7h3c,
.oIy2qc,
.zW4Hye {
    color: #ccc!important
}
.Kx3qp:hover {
    color: #4285f4!important
}
.Z7iKHc {
    background-color:white;
}
.JPdR6b,
.XvhY1d {
    overflow: hidden!important
}
.KH62af,
.kCtYwe,
.mrslJ,
.sIR20d,
.uFGEzd,
.z38b6 {
    border-color: #404040!important
}
.qO3Z3c {
    background-color: #404040!important
}
.Sla0Yd .NMm5M {
    color: #00796b!important
}
.z80M1:active,
.z80M1:hover {
    background-color: #404040!important
}
.zCbbgf .Hdh4hc {
    color: #d93025!important
}
.q2u11 .kpROve {
    background-color: transparent;
    border-color: transparent
}

sPXonc {
    color: white;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    margin: 5px;
}

.kvLJWc .ZjFb7c, .QMC9Zd {
    font-size: 14px;
    color: white
}

.isOLae {
    letter-spacing: .07272727em;
    font-family: Roboto,Arial,sans-serif;
    font-size: .6875rem;
    font-weight: 500;
    line-height: 1rem;
    text-transform: uppercase;
    color: white;
    margin: 0;
    padding: 8px 24px;
}

.c0XF8e.kaAt2.KKjvXb, .c0XF8e.kaAt2.KKjvXb .VZhFab {
    color: white;
    padding: 0;
}

.IOMGae .kaAt2.KKjvXb .NiVZcb, .IOMGae .kaAt2.KKjvXb .pLuP1d {
    color: white;
}

.q21cab.ZjAUM .s7bIcf {
    background-color: white;
}

body {
    height: 100%;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    color: white;
    font-family: "Poppins",sans-serif;
    margin: 0;
}

:root {
    --gm-background-color: #3c4043;
    --gm-body-text-color: white;;
    --gm-caption-color: #5f6368;
    --gm-error-color-highlight: #fce8e6;
    --gm-error-color: #c5221f;
    --gm-hairline-color: #dadce0;
    --gm-hint-color: #5f6368;
    --gm-label-color: #5f6368;
    --gm-navigation-icon-color: #3c4043;
    --gm-neutral-highlight-color: #f8f9fa;
    --gm-neutral-outline-color: #dadce0;
    --gm-overlay-color--on-theme-background: #202124;
    --gm-secondary-icon-color: var(--gm-label-color);
    --gm-text-color--on-dark-background: var(--gm-text-color--on-theme-background);
    --gm-text-color--on-theme-background: #fff;
    --gm-theme-color--base: #00796b;
    --gm-theme-color--elevation-shadow-1: rgba(0,121,107,0.149);
    --gm-theme-color--elevation-shadow-2: rgba(0,121,107,0.302);
    --gm-theme-color--stateful: #004d40;
    --gm-theme-color-highlight: #e0f2f1;
    --gm-theme-color: #00796b;
    --gm-tooltip-background-color: #3c4043;
    --mdc-theme-primary: var(--gm-theme-color);
    --gm-fillbutton-container-color: var(--gm-theme-color);
    --gm-fillbutton-ink-color: var(--gm-text-color--on-theme-background);
    --gm-fillbutton-state-color: var(--gm-overlay-color--on-theme-background);
    --gm-fillbutton-ambient-color: var(--gm-theme-color--elevation-shadow-1);
    --gm-fillbutton-keyshadow-color: var(--gm-theme-color--elevation-shadow-2);
    --gm-hairlinebutton-outline-color: var(--gm-neutral-outline-color);
    --gm-hairlinebutton-outline-color--stateful: var(--gm-theme-color--stateful);
    --gm-hairlinebutton-ink-color: var(--gm-theme-color);
    --gm-hairlinebutton-ink-color--stateful: var(--gm-theme-color--stateful);
    --gm-hairlinebutton-state-color: var(--gm-theme-color);
    --gm-colortextbutton-ink-color: var(--gm-theme-color);
    --gm-colortextbutton-ink-color--stateful: var(--gm-theme-color--stateful);
    --gm-colortextbutton-state-color: var(--gm-theme-color);
    --gm-switch-track-color--on: var(--gm-theme-color--base);
    --gm-switch-thumb-color--on: var(--gm-theme-color);
    --gm-switch-ripple-color--on: var(--gm-theme-color--base);
}

.p2ZbV {
    background-color: #202124!important;   
}

.DwIq5e {
    color: white;
    font-size: 14px;
    margin-bottom: auto;
    padding: 10% 0;
    text-align: center;
}


.kvLJWc .ZjFb7c, .QMC9Zd {
    font-family: "Poppins";
    color: white;
}

.L7osyb {
    font-family: "montserrat"
}

.XnKlKd .cXrdqd {
    background-color: white;
}

.KWIIWd .hg3Lgc .co39ub, .KWIIWd .hg3Lgc .Cn087, .KWIIWd .hg3Lgc .hfsr6b, .KWIIWd .hg3Lgc .EjXFBf {
    border-color: white;
}

.U2dFAf {
    color: white;
}

.KshDhe {
    color: white;
}

.IisKdb {
    color: white;
}

.KV1GEc .x9nQ6 {
    color: white;
}

.UNoX6b {
    color: white;
}

.cU0hbd .K74C9e {
    color: white;
}

.UQuaGc {
    font-family: "Poppins";
}

.uJNmj.FTMc0c {
    color: white;
    background-color: #333;
    border-color: #333;
}

.Mnjxjc {
    background-color: white;
}

.SjxBjb .k3Pzib {
    border-radius: 15px;
}

.JHK7jb.OGbUle, .JHK7jb.FTMc0c {
    background-color: #333;
}

.RWK2Je {
    background-color: #1a1a1a;
}

.ADivge.vLRPrf .pUTHKf {
    color: white;
}

.xKmApd.KshDhe .VfPpkd-Zr1Nwf-OWXEXe-M1Soyc {
    color: white;
}
.KshDhe{
    border: none;
}
.ADivge.vLRPrf .xSov9c {
    color: white;
}
.crqnQb {
    font-family: "Poppins";
}
.ctRwId {
    color: white;
}
.KshDhe:hover{
    border: none;
    color: white;
}

.HFJjfe .MNVeFb {
    color: white;
}
